<section>
        <div class="divider"></div>
        <div class="columns">
                <div class="column">
                        <h5>Bewerben</h5>
                        Wenn Du ein Zimmer haben möchtest, findest du hier das Bewerbungsformular
                        <br><br><button class="btn btn-primary"><a
                                        href="http://support.wg-nuernberg.de/customer/widget/emails/new">Bewerben</a></button>
                </div>
                <div class="divider-vert" data-content="OR"></div>
                <div class="column">
                        <h5>Besichtigen</h5>
                        Wenn Du ein Zimmer oder die WGs besichtigen möchtest, kannst du unverbindlich ohne Anmeldung zur
                        Gruppenbesichtung vorbei kommen. Geht das bei dir nicht, so vereinbaren wir gerne einen
                        individuellen
                        Termin.
                        <br><br><button class="btn btn-primary"><a
                                        href="https://wg-nuernberg.zendesk.com/hc/de/articles/360008473979-Allgemein">Besichtigen</a></button>
                </div>
        </div>
</section>