<section>
        <div class="divider"></div>
        <div class="columns">
                <div class="column">
                        <h5>Bewerben</h5>
                        Wenn Du ein Zimmer haben möchtest, lies bitte <a href="https://wg-nuernberg.zendesk.com/hc/de/articles/360009495919-Bewerbungsemail">diesen Artikel</a> und schreibe uns eine Email an
                        <b>info at wg-nuernberg.de</b>
                </div>
                <div class="divider-vert" data-content="OR"></div>
                <div class="column">
                        <h5>Besichtigen</h5>
                        Wenn Du ein Zimmer oder die WGs besichtigen möchtest, kannst du unverbindlich ohne Anmeldung zur
                        Gruppenbesichtung vorbei kommen. Geht das bei dir nicht, so vereinbaren wir gerne einen
                        individuellen
                        Termin.
                        <br><br><button class="btn"><a
                                        href="https://wg-nuernberg.zendesk.com/hc/de/articles/360008473979-Allgemein">Besichtigen</a></button>
                </div>
        </div>
</section>