<section>
    <div class="divider"></div>
    <footer class="section section-footer">
        <div class="docs-footer container" id="copyright">
            <p>
                <h5>Unser Büro</h2>
                    Vordere Sterngasse 2a, 90402 Nürnberg, Deutschland - <a href="https://maps.apple.com/?daddr=Vordere%20Sterngasse+2,%2090402%20Nuremberg">Apple Maps</a> - <a href="https://www.google.com/maps/place/Vordere+Sterng.+2,+90402+Nürnberg,+Germany">Google Maps</a> - +49 (0) 911 2355810 - Nur für Studenten. - <a href="mailto:info@wg-nuernberg.de">info@wg-nuernberg.de</a> - Mo-Fr: 09:00 - 15:00
            </p>
            <p><span class="text-error">♥</span> WG Nürnberg GmbH</p>
        </div>
    </footer>
</section>